absl-py==0.7.0
africastalking==1.1.5
alembic==1.0.5
astor==0.7.1
asyncio==3.4.3
bcrypt==3.1.5
blinker==1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-API==1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.7
Flask-JSON==0.3.3
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gast==0.2.2
grpcio==1.18.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.16.1
oauthlib==3.0.1
protobuf==3.6.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.7.5
python-dotenv==0.10.1
python-editor==1.0.3
requests==2.21.0
requests-oauthlib==1.2.0
schema==0.6.8
six==1.12.0
SQLAlchemy==1.2.15
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tweepy==3.7.0
urllib3==1.24.1
Werkzeug==0.14.1
