 {% extends 'base.html' %}

 {% block content %}

<p>Hello,</p>
<p>Thanks for using Hisia</p>
<p>Here is the analysis report you have carried out</p>

<div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Analysis</th>
            <th scope="col">Percentage</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <td>{{ result.tweet }}</td>
         <td>{{ result.message }}</td>
          <td>{{ result.percentage }}</td>
        {% endfor%}
    </tbody>
    </table>
<p>Best,</p>
<p>Hisia Team</p>
</div>

{% endblock %}